<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#page-top">Med-Tech</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
								<li class="hidden">
										<a href="#page-top"></a>
								</li>
								<li class="page-scroll">
										<a href="#portfolio">Portfolio</a>
								</li>
								<li class="page-scroll">
										<a href="/logout" class='button'>Log Out</a>
								</li>
						</ul>
				</div>
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<section id="portfolio">
		<div class="container">
				<div class="row">
          <h2>{{#each googleUser.photos}}<img src="{{ value }}" alt="userPhoto">
						{{/each}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Hello, {{ googleUser.displayName }}.
					</h2>
					<br><br>

          <!-- {{#each googleUser.emails}} {{ value }} {{/each}} -->
        </div>
    </div>

		<br><br><br><br>

		<div class="container">
			<div class='row'>
				<div class='col-sm-12'>
					<ul class='all-bleeds-ul'>
						{{#each bleed}}
						<li class='all-bleeds text-center'>
							<p>{{this.first_name}}</p>
							<p>{{this.last_name}}</p>
							<p>{{this.event_date}}</p>
							<p>{{this.description}}</p>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
	</div>

</section>
