<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<div class="navbar-header page-scroll patientHeader">
						<div class="leftHeader">
							<a class="navbar-brand" href="#page-top"><p class="brand">HemophiliApp</p></a>
						</div>
						<div class="rightHeader">
							<a href="/logout" class='button logOutButton'>Log Out</a>
						</div>
					</div>
				</div>
		</div>
	</nav>

	<section id="portfolio patientPage">
		<div class="container">
				<div class="row patientProfile">
					<div class="userGreeting">
						{{#each googleUser.photos}}<img class="profilePicture" src="{{ value }}" alt="userPhoto">{{/each}}
						<h2 class="nurseWelcome">Hello, {{ googleUser.displayName }}.</h2>
					</div>
        </div>
    </div>
		<div class='row nurseInfo'>
			<p id='nurseAlert'>Below you will find all pending bleeds.<br>
			Please contact these patients immediately.</p>
		</div>

		<!-- All-events modal -->

		<br><br><br><br>

		<div class="container">
			<div class='row'>
				<div class='col-sm-12'>
					<ul class='all-bleeds-ul'>
						{{#each bleed}}
						<li class='all-bleeds text-center'>
							<img class='user-photo' id="bleedUserPhoto" src="{{this.photo_url}}" alt="userPhoto">
							<div id="bleedUserFullName">
								<p id="bleedFirstName">{{this.first_name}}</p>
								<p id="bleedLastName">{{this.last_name}}</p>
							</div>
							<p id="bleedEventDate">{{this.event_date}}</p>
							<p id="bleedDescription">{{this.description}}</p>
							<form class='nurse-blood-event' action="/nurse" method="POST">
								<input type="hidden" name="event_id" value="{{this.bleed_id}}">
								<input class="btn" id="eventSettled" type="submit" value="Event Settled">
							</form>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
	</div>
	<div class="allEventsButtonContainer">
		<button type="button" class="btn btn-lg" data-toggle="modal" data-target="#all-events-modal" id="viewAllBleedingEvents">
			View All Past Bleed Events
		</button>
	</div>
</section>

<div class="modal fade" id="all-events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header modal-grey">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">All Past Bleed Events</h4>
			</div>
			<div class="modal-body modal-grey">
				<ul class='all-bleeds-modal-ul'>
					{{#each allBleed}}
					<li class='all-bleeds-modal text-center'>
						<div id="bleedUserFullNameModal">
							<p id="bleedFirstNameModal">{{this.first_name}}</p>
							<p id="bleedLastNameModal">{{this.last_name}}</p>
						</div>
						<p id="bleedEventDateModal">{{this.event_date}}</p>
						<p id="bleedDescriptionModal">{{this.description}}</p>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
