<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#page-top">Med-Tech</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
								<li class="hidden">
										<a href="#page-top"></a>
								</li>
								<li class="page-scroll">
										<a href="#portfolio">Portfolio</a>
								</li>
								<li class="page-scroll">
										<a href="/logout" class='button'>Log Out</a>
								</li>
						</ul>
				</div>
				<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<section id="portfolio">
		<div class="container">
				<div class="row">
          <h2>{{#each googleUser.photos}}<img src="{{ value }}" alt="userPhoto">
						{{/each}}
						Hello, {{ googleUser.displayName }}.
					</h2>
					<br>
					<p>Below you will find all current bleed events in which need immediate response.</p>
					<br><br>
          <!-- {{#each googleUser.emails}} {{ value }} {{/each}} -->
        </div>
    </div>

		<!-- All-events modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#all-events-modal">
			View All Past Bleed Events
		</button>

		<br><br><br><br>

		<div class="container">
			<div class='row'>
				<div class='col-sm-12'>
					<ul class='all-bleeds-ul'>
						{{#each bleed}}
						<li class='all-bleeds text-center'>
							<img class='user-photo' src="{{this.photo_url}}" alt="userPhoto">
							<p>{{this.first_name}}</p>
							<p>{{this.last_name}}</p>
							<p>{{this.event_date}}</p>
							<p>{{this.description}}</p>
							<form class='nurse-blood-event' action="/nurse" method="POST">
								<input type="hidden" name="event_id" value="{{this.bleed_id}}">
								<input type="submit" value="Event Settled">
							</form>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
	</div>

</section>

<div class="modal fade" id="all-events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">All Past Bleed Events</h4>
			</div>
			<div class="modal-body">
				{{#each allBleed}}


					<h6><img src="{{this.photo_url}}" alt="Patient-Photo"></h6>
					<br>

					<h4><b>Name:</b></h4>
					<h6>{{this.last_name}}, {{this.first_name}}</h6>

					<h4><b>Description:</b></h4>
					<h6>{{this.description}}</h6>

					<h4><b>Physical Location:</b></h4>
					<h6>{{this.physical_location}}</h6>

					<hr></hr>
				{{/each}}
			</div>
		</div>
	</div>
</div>
