<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll patientHeader">
						<div class="leftHeader">
							<span class="navbar-brand" href="#page-top"><p class="brand">
								HemophiliApp
							</p></span>
						</div>
						<div class="rightHeader">
							<a href="/logout" class='button logOutButton'>Log Out</a>
						</div>
				</div>
		</div>
</nav>
<section id="portfolio patientPage">
		<div class="container">
				<div class="row patientProfile">
					<div class="userGreeting">
						{{#each googleUser.photos}}<img class="profilePicture" src="{{ value }}" alt="userPhoto">{{/each}}
						<br><br>
	          <h2>Hello, {{ googleUser.displayName }}.</h2>
						<br><br>
					</div>

          <div class='container'>
            <div class='row patientInfo'>
              <div class='col-sm-6'>
                <ul>
                  <li>Birthday: {{dbUser.birthday}}</li>
                  <li>Phone Number: {{dbUser.telephone}}</li>
                  <li>Email: {{dbUser.email}}</li>
                </ul>
              </div>
              <div class='col-sm-6'>
                <ul>
                  <li>Diagnosis: {{dbUser.diagnosis}}</li>
                  <li>Current Medicine: {{dbUser.medicine}}</li>
                </ul>
              </div>
            </div>

						<br><br><br>

						<!-- <button>Add Bleeding Event</button> -->
						<!-- Button trigger modal -->
						<div class="buttonContainer">
							<button type="button" class="btn btn-lg" id="addBleedingEvent" data-toggle="modal" data-target="#myModal"
							data-medicine='{{dbUser.medicine_id}}'>
								Add Bleeding Event
							</button>
						</div>

						<div class='row'>
              <div class='col-sm-12 bleedListContainer'>
                <ul class='bleedList'>
									{{#each bleed}}
									<li class='bleed'>
										<p class="eventDate">{{this.event_date}}&nbsp;&nbsp;</p>
										<p class="eventDescription">{{this.description}}</p>

											<!-- Edit button -->
										<div class="editDeleteContainer">
											<button type="button" id="editButton" class="btn editDeleteButton" data-toggle="modal" data-target="#editModal"
												data-event-date='{{this.event_date}}'
												data-description='{{this.description}}'
												data-physical-location='{{this.physical_location}}'
												data-dose='{{this.dose}}'
												data-bleed-id='{{this.id}}'
												data-medicine='{{this.medicine_id}}'
												data-prioritize='{{this.prioritize}}'>
												Edit Event
											</button>
											<!-- Delete button (form) -->
											<form class="delete-event-form \" action="/patient/delete" method="POST">
												<input type="hidden" name="bleed_id" value="{{this.id}}">
												<input class="btn editDeleteButton" type="submit" value="Delete">
											</form>
										</div>

									</li>
									{{/each}}

                </ul>
              </div>
            </div>
          </div>

				</div>
      </div>
    </section>

		<!-- Modal to add bleeding event-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-grey">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Bleeding Event Form</h4>
          </div>
          <div class="modal-body modal-grey">

            <!-- Add bleed event form inside modal -->
            <form class="addevent" action="/patient/create" method="post">
              <label for="event_date">When did the bleed occur?</label>
              <input type="date" name="event_date" value="">

              <label for="description">Tell us what happened:</label>
              <input type="text" name="description" placeholder='eg. "Fell off bike" ' value="">

              <label for="physical_location">Where did the bleed occur?</label>
              <input type="text" name="physical_location" placeholder='eg "Knee", "Head"' value="">

              <label for="medicine">What medicine did you take?</label>
              <select name="medicine">
                <option value="1">Stimate</option>
                <option value="2">Amicar</option>
                <option value="3">Advate</option>
                <option value="4">Rixubus</option>
                <option value="5">Elcotate</option>
              </select>

              <label for="dose">How much medicine did you take?</label>
              <input type="number" name="dose" placeholder="Dose in Units" min='0' value="">

              <label for="prioritize">Do you need immediate medical advice?</label>
							<div class="radioContainer">
								<input type="radio" id= "prioritize" name="prioritize" value="true">Yes</input>
	              <input type="radio" id= "prioritize" name="prioritize" value="false">No</input>
							</div>

              <input type="hidden" id= "action_needed" name="action_needed" value="true">
              <input type='hidden' id='users_id' name='users_id' value={{dbUser.user_id}}>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create Event</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

		<!-- Modal to edit the bleed event -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-grey">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit your bleed event</h4>
          </div>
          <div class="modal-body modal-grey">

						<form class="editevent" action="/patient/edit" method="POST">
							<label for="event_date">When did the bleed occur?</label>
              <input type="date" name="event_date" value="{{this.event_date}}">

              <label for="description">Tell us what happened:</label>
              <input type="text" name="description" placeholder='eg. "Fell off bike" ' value="{{this.description}}">

              <label for="physical_location">Where did the bleed occur?</label>
              <input type="text" name="physical_location" placeholder='eg "Knee", "Head"' value="{{this.physical_location}}">

              <label for="medicine">What medicine did you take?</label>
              <select name="medicine">
                <option value="1">Stimate</option>
                <option value="2">Amicar</option>
                <option value="3">Advate</option>
                <option value="4">Rixubus</option>
                <option value="5">Elcotate</option>
              </select>

              <label for="dose">How much medicine did you take?</label>
              <input type="number" name="dose" placeholder="Dose in Units" min='0' value="{{this.dose}}">

              <label for="prioritize" >Do you need immediate medical advice?</label>
              <input type="radio" id= "prioritize" name="prioritize" value="true">Yes</input>
              <input type="radio" id= "prioritize" name="prioritize" value="false">No</input>

              <input type="hidden" id= "action_needed" name="action_needed" value="true">
              <input type='hidden' id='users_id' name='users_id' value={{dbUser.user_id}}>
							<input type="hidden" name="bleed_id" value="{{this.id}}">

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Make Changes</button>
              </div>

						</form>
					</div>
				</div>
			</div>
		</div>
